{% block carroussel %}
    <div class="grid-x">
        <div class="cell large-12 meduim-6">
            <div class="orbit" role="region" aria-label="Youtube Netflix Amazone" data-orbit>
                <div class="orbit-wrapper">
                    <div class="orbit-controls">
                        <button class="orbit-previous"><span class="show-for-sr">Previous
                                Slide</span>&#9664;&#xFE0E;</button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                    </div>
                    <ul class="orbit-container">
                        <li class="orbit-slide is-active">
                            <div class="orbit-1 orbit-figure">
                            </div>
                        </li>
                        <li class="orbit-slide">
                            <div class="orbit-2 orbit-figure">
                            </div>
                        </li>
                        <li class="orbit-slide">
                            <div class="orbit-3 orbit-figure">
                            </div>
                        </li>
                        <li class="orbit-slide">
                            <div class="orbit-4 orbit-figure">
                            </div>
                        </li>
                        <li class="orbit-slide">
                            <div class="orbit-5 orbit-figure">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock carroussel %}