<div class="nav-container">
    <div class="grid-x">
        <div class="cell large-12">
            <div class="grid-container fluid">
                <div class="padding-y">
                    <div class="grid-x align-middle grid-margin-x">
                        <div class="cell large-3">
                            <h4>WENZE Market</h4>
                        </div>
                        <div class="cell large-6">
                            <div class="input-group">
                                <span class="input-group-label">Catégorie</span>
                                <input class="input-group-field" type="text">
                                <div class="input-group-button">
                                    <input type="submit" class="button" value="Recherche">
                                </div>
                            </div>
                        </div>
                        <div class="cell large-3">
                            <ul class="menu align-center">
                                {% if current_user.is_authenticated %}
                                    <li><a href=""><i class=" fas fa-user-circle fa-lg"></i></a></li>
                                    <li><a href=""><i class="fas fa-shopping-basket fa-lg"></i></a></li>
                                    {% if current_user.status == 'vendeur' %}
                                        <li><a href=" {{ url_for('boutique_bp.accueil') }} "><i class=" fas fa-store fa-lg"></i></a></li>
                                    {% elif current_user.status == 'client' %}
                                        <li><a href=""><i class=" fas fa-user-cog fa-lg"></i></a></li>
                                    {% endif %}
                                    <li><a href=" {{ url_for('home_bp.page_deconnexion') }} "> <i class=" fas fa-sign-out-alt fa-lg "></i> </a></li>
                                {% else %}
                                    <li><a href=" {{ url_for('home_bp.page_connexion') }} "><i class="fas fa-user fa-lg"></i></a></li>
                                    <li><a href=""><i class="fas fa-shopping-bag fa-lg"></i></a></li>
                                    <li><a href=""><i class="fas fa-address-book fa-lg"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>