{% extends 'layout/layout_carroussel.html' %}

{% block content %}
<div class="corps">
    <div class="grid-x">
        <div class="cell large-12">
            <div class="categorie">
                <div class="grid-container fluid">
                    <div class="grid-x grid-margin-x align-justify">
                        <div class="cell large-3 meduim-3">
                            <div class="cat-1">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea aspernatur dolore,
                                    tempora
                                    sunt
                                    rerum harum? Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis
                                    provident
                                    inventore?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea
                                    aspernatur
                                    dolore,
                                    tempora sunt rerum harum?
                                    Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis provident
                                    inventore?
                                </p>
                            </div>
                        </div>
                        <div class="cell large-3 meduim-3">
                            <div class="cat-1">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea aspernatur dolore,
                                    tempora
                                    sunt
                                    rerum harum? Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis
                                    provident
                                    inventore?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea
                                    aspernatur
                                    dolore,
                                    tempora sunt rerum harum?
                                    Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis provident
                                    inventore?
                                </p>
                            </div>
                        </div>
                        <div class="cell large-3 meduim-3">
                            <div class="cat-1">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea aspernatur dolore,
                                    tempora
                                    sunt
                                    rerum
                                    harum? Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis
                                    provident
                                    inventore?Lorem
                                    ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea aspernatur dolore,
                                    tempora
                                    sunt
                                    rerum
                                    harum?
                                    Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis provident
                                    inventore?
                                </p>
                            </div>
                        </div>
                        <div class="cell large-3 meduim-3">
                            <div class="cat-1">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea aspernatur dolore,
                                    tempora
                                    sunt
                                    rerum
                                    harum? Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis
                                    provident
                                    inventore?Lorem
                                    ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quod ea aspernatur dolore,
                                    tempora
                                    sunt
                                    rerum
                                    harum?
                                    Iste iure magni laboriosam veniam, repellendus quia. Soluta, nam? Hic veritatis provident
                                    inventore?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}