{% extends 'layout/layout.html' %}

{% block style %}
<link rel="stylesheet" href=" {{ url_for('home_bp.static', filename='css/home_bp_css.css') }} ">
{% endblock style %}

{% block content %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell large-6 large-offset-3">
            <div class="container-formulaire">
                <div class="grid-x grid-padding-y gris">
                    <div class="cell large-12">
                        <h3 class="text-center">Formulaire de connexion</h3>
                    </div>
                </div>
                <div class="grid-container margin-container">
                    <div class="grid-x">
                        <div class="cell large-12">
                            <form action=" {{ url_for('home_bp.page_connexion') }} " method="POST">
                                {{ form.csrf_token }}

                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        <div class="callout success" data-closable>
                                            {% for message in messages %}
                                            <p> {{ message }} </p>
                                            {% endfor %}
                                            <button class="close-button" aria-label="Dismiss alert" type="button"
                                                data-close>
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% endwith %}

                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.nom.label }}
                                        {{ form.nom(placeholder='Votre nom') }}
                                        {% if form.nom.errors %}
                                        <ul class="errors">
                                            {% for error in form.nom %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.mot_de_passe.label }}
                                        {{ form.mot_de_passe(placeholder='Votre mot de passe') }}
                                        {% if form.mot_de_passe.errors %}
                                        <ul class="errors">
                                            {% for error in form.mot_de_passe %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.valider }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell large-12">
                            <p>Vous n'avez pas de compte <a href=" {{ url_for('home_bp.page_inscription') }} ">Inscrivez-vous</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}