{% extends 'layout/layout.html' %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('home_bp.static', filename='css/home_bp_css.css') }} ">
{% endblock style %}

{% block content %}
   <div class="grid-container">
    <div class="grid-x">
        <div class="cell large-6 large-offset-3">
            <div class="container-formulaire">
                <div class="grid-x grid-padding-y gris">
                    <div class="cell large-12">
                        <h3 class="text-center">Formulaire d'inscription</h3>
                    </div>
                </div>
                <div class="grid-container margin-container">
                    <div class="grid-x">
                        <div class="cell large-12">
                            <form action=" {{ url_for('home_bp.page_inscription') }} " method="POST">
                                {{ form.csrf_token }}
                                
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="grid-x">
                                            <div class="cell large-12">
                                                <div class="callout alert" data-closable>
                                                    {% for message in messages %}
                                                        <p> {{ message }} </p>
                                                    {% endfor %}
                                                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endwith %}

                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.nom.label }}
                                        {{ form.nom(placeholder='Votre nom') }}
                                        {% if form.nom.errors %}
                                        <ul class="errors">
                                            {% for error in form.nom %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.prenom.label }}
                                        {{ form.prenom(placeholder='Votre prénom') }}
                                        {% if form.prenom.errors %}
                                        <ul class="errors">
                                            {% for error in form.prenom %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.status.label }}
                                        {{ form.status }}
                                        {% if form.status.errors %}
                                        <ul class="errors">
                                            {% for error in form.status %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.numero.label }}
                                        {{ form.numero(placeholder='Votre numero') }}
                                        {% if form.numero.errors %}
                                        <ul class="errors">
                                            {% for error in form.numero %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.ville.label }}
                                        {{ form.ville }}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.adresse.label }}
                                        {{ form.adresse(placeholder='Votre adresse') }}
                                        {% if form.adresse.errors %}
                                        <ul class="errors">
                                            {% for error in form.adresse %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.mot_de_passe.label }}
                                        {{ form.mot_de_passe(placeholder='Votre mot de passe') }}
                                        {% if form.mot_de_passe.errors %}
                                        <ul class="errors">
                                            {% for error in form.mot_de_passe %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.confirmation.label }}
                                        {{ form.confirmation(placeholder='Confirmer le mot de passe') }}
                                        {% if form.confirmation.errors %}
                                        <ul class="errors">
                                            {% for error in form.confirmation.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell large-12">
                                        {{ form.valider }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock content %}