
.container-formulaire{
    background-color: #fff;
    box-shadow:  0 0 2px 1px rgb(177, 177, 177);
    margin-top: 50px;
    margin-bottom: 50px;
}

.gris{
    background-color: #ddd;
    color: gray;
}
.margin-container{
    margin-top: 15px;
    margin-bottom: 15px ;
}

#valider{
    padding: 15px;
    background-color: #03256C;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-bottom: 5px;
}
