body{
    background-color: #eaeded;
}

.nav-container{
    background-color: #fff;
}

.input-group{
    margin: 0 auto;
}

.padding-y{
    padding: 10px 0;
}

.padding-y .cell h4{
    margin-bottom: 0;
}

/*===================================*/

.orbit-1{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1), #eaeded), url('../img/img-3.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.orbit-2{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1), #eaeded), url('../img/img-8.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.orbit-3{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1), #eaeded), url('../img/img-7.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.orbit-4{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1), #eaeded), url('../img/img-5.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.orbit-5{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1), #eaeded), url('../img/img-6.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.cat-1{
    background-color: #fff;
    padding: 15px;
}


.liste-article{
    margin-top: 10px;
}
