<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/foundation.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/app.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='font/css/all.css') }} ">
    {% if titre %}
    <title> {{ titre }} </title>
    {% else %}
    <title>WENZE Market</title>
    {% endif %}
</head>

<body>
    <!-- #========= Barre de navigation =================# -->
    {% include 'partiels/navigation.html' %}

    <!-- #========= Carroussel =================# -->
    {% include 'partiels/carroussel.html' %}

    <!-- #========= Contenu des pages ===================# -->
    {% block content %} {% endblock content %}

    <!-- #============== Pied de page ===================# -->
    {% include 'partiels/pied_de_page.html' %}

    <!-- #============ Fichier Javascript ===============# -->
    <script src=" {{ url_for('static', filename='js/vendor/jquery.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/vendor/what-input.js') }} "></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>